@import "~styles/config";

.container{
    &__default,
    &__outlined,
    &__primary,
    &__secondary,
    &__icon{
        font-size: 1rem;
        padding: 5px 10px;
        letter-spacing: 0.2px;
        outline: none;
        cursor: pointer;
        font-family: $font-text;
        border-radius: 5px;
        svg{
            margin-right: 7px;
        }
    }
    &__default{
        background: transparent;
        color: $color-dark;
        border: none;
        opacity: 0.9;
    }
    &__outlined{
        background: transparent;
        color: $color-dark;
        border: none;
        opacity: 0.9;
        box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.2);
        &:hover{
            opacity: 0.8;
            background: $color-dark;
            color: $color-white;
            transition: all 0.2s ease-in;
        }
    }
    &__primary{
        background: $color-red;
        color: $color-white;
        border: 1px solid $color-red;
        &:hover{
            background: $color-white;
            color: $color-red;
            transition: all 0.2s ease-in;
        }
    }
    &__secondary{
        background: $color-green;
        color: $color-white;
        border: 1px solid $color-green;
        &:hover{
            background: $color-white;
            color: $color-green;
            transition: all 0.2s ease-in;
        }
    }
    &__small{
        font-size: $font-size;
    }
    &__medium{
        font-size: $font-size-medium;
        font-weight: $font-bold; 
    }
    &__big{
        font-size: $font-size-max;
        font-weight: $font-bold;
    }
    &__iconSmall,
    &__iconMedium,
    &__iconBig{
        border-radius: 100%;
        position: relative;
        svg{
            margin: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__iconSmall{
        width: 30px;
        height: 30px;
    }
    &__iconMedium{
        width: 40px;
        height: 40px;
    }
    &__iconBig{
        width: 50px;
        height: 50px;
    }
}